<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>DATE</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <th><%= link_to team.name, team %></th>
        <th><%= team.created_at %></th>  
      </tr>
    <% end %>
  </tbody>
</table>
