<h1><%= @team.name %></h1>

<table>
  <thead>
    <tr>
      <th>USER_ID</th>
      <th>EMAIL</th>      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user.id %></th>
        <th><%= user.email %></th>  
      </tr>
    <% end %>
  </tbody>
</table>
