.buttons {
  display: flex;
  justify-content: space-between;
  margin: 16px 8px;
}

.buttonPost {
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #54554f;
  cursor: pointer;
  margin: 8px;
  margin-top: 0;
}

.buttonPost:hover {
  color: #1b1d15;
}

.buttonCancel {
  font-size: 14px;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #8d8e8a;
  cursor: pointer;
  margin: 8px;
  margin-top: 0;
}

.buttonCancel:hover {
  color: #54554f;
}
