@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

/* colors */
@color-black: #1b1d15;
@color-darkest-grey: #54554f;
@color-dark-grey: #8d8e8a;
@color-grey: #c6c6c4;
@color-light-grey: #e8e8e8;
@color-lightest-grey: #fafafa;

@color-white: #ffffff;

@color-green: #22db98;
@color-light-green: #e9fbf5;

@color-dark-yellow: #db9122;
@color-yellow: #f6e3c8;
@color-light-yellow: #fbf4e9;
@color-lightest-yellow: #fdfaf4;

@color-darkest-red: #db2d22;
@color-dark-red: #ed9690;
@color-red: #f6cac8;
@color-light-red: #fbeae9;
@color-lightest-red: #fdf5f4;
