.container {
  margin: 60px 0 0 208px;
  display: flex;
  flex-direction: column;
  width: 320px;
}
.avatarForm {
  position: relative;
  width: 320px;
}
.avatar {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.menuButton {
  position: absolute;
  right: 8px;
  top: 8px;
}

.opened {
  position: absolute;
  top: 48px;
  right: 8px;
}

.avatarUploadButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 6px 12px;
  background: #ffff;
  border: 1px solid #171313;
  color: #171313;
  box-sizing: border-box;
  border-radius: 4px;
}

.avatarUploadButton:hover {
  border: 1px solid #474343;
  color: #474343;
}
