/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bulma
 *= require_tree .
 *= require_self
 */
.wrapper {
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    padding: 20px;
    background-image: url('../images/logo.png');
}

.inner a {
    display: block;
    height: 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 28px;
    background-color: #F7F7F7;
    margin: 10px;
}

.alert {
    position: absolute;
    top: 0;
    left: 10px;
}

.logoutButton {
    position: absolute;
    right: 200px;
    z-index: 999;
}

.logo {
    margin: 20px 0 20px calc(50% - 24px);
}
