<% content_for :scripts do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
<% end %>

<div class='column is-10' style='margin-top: -25px;'>
  <span class='subtitle is-2'>Actions, assigned to me</span>
 <%= react_component('action-items-container')%>
</div>



